.body-container {
    margin: 0px 150px 0px 150px;
    font-family: "Mulish", sans-serif;
}
.project-top-section {
    display: flex;
    justify-content: space-between;
}
.project-top-left {
    display: flex;
    flex-direction: column;
    p {
        width: 500px;
    }
}
.project-top-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    div {
        border-bottom: 1px solid#79767617;
        border-width: 3px;  
    }
}
.p-row {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #79767683;
}   
.p-row-right {
     display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #0b0a0ae8;
}
.project-middle {
    img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    p {
        width: 1109px;
    }
}
.row-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
